.gameboard {
    padding: 1em;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1em;
}

.scoreboard {
    margin: 1lh 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: clamp(1rem, 1rem + 0.5vw, 2rem);
}

dialog {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.2rem;

    min-width: 15em;
    width: 30%;

    padding: 2em;
    text-align: center;

    button {
        width: 80%;
        position: relative;

        background: none;
        border: 1px solid black;
        font-size: 1em;
        padding: 0.5lh 0.5em;
        font-weight: bold;
    }

    button+button {
        margin-top: 1lh;
    }

    button:hover {
        cursor: pointer;
    }

    button:hover::before {
        content: "▶";
        position: absolute;
        display: block;
        top: 50%;
        transform: translateY(-50%);
        left: -2em;
        font-size: 0.9em;
        ;
    }

    p {
        margin-bottom: 1lh;
    }
}

.message {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: -5%;
    font-size: 1.5em;
}